

@if(Model.Id != null){

<section class="additional-info">
        <div class="container">
            <h2> Program Details</h2>

            <div class="details-1">
                <div class="elips">
                    <div class="ring">
                        <span class="number">1</span>
                    </div>
                </div>
                <div class="details-1-content">
                    <h3>Introduction. Getting started</h3>
                    <p data-value="@Model.programdetails1">@Model.programdetails1"</p>
                </div>
            </div>

            <div class="details-2">
                <div class="elips">
                    <div class="ring">
                        <span class="number">2</span>
                    </div>
                </div>
                <div class="details-2-content">
                    <h3>The ultimate HTML developer: advanced HTML</h3>
                    <p data-value="@Model.programdetails2">@Model.programdetails2"</p>
                </div>
            </div>

            <div class="details-3">
                <div class="elips">
                    <div class="ring">
                        <span class="number">3</span>
                    </div>
                </div>
                <div class="details-3-content">
                    <h3>CSS & CSS3: basic</h3>
                    <p data-value="@Model.programdetails3">@Model.programdetails3"</p>
                </div>
            </div>

            <div class="details-4">
                <div class="elips">
                    <div class="ring">
                        <span class="number">4</span>
                    </div>
                </div>
                <div class="details-4-content">
                    <h3>JavaScript basics for beginners</h3>
                    <p data-value="@Model.programdetails4">@Model.programdetails4"</p>
                </div>
            </div>

            <div class="details-5">
                <div class="elips">
                    <div class="ring">
                        <span class="number">5</span>
                    </div>
                </div>
                <div class="details-5-content">
                    <h3>Understanding APIs</h3>
                    <p data-value="@Model.programdetails5">@Model.programdetails5"</p>
                </div>
            </div>

            <div class="details-6">
                <div class="elips">
                    <div class="ring">
                        <span class="number">6</span>
                    </div>
                </div>
                <div class="details-6-content">
                    <h3>C# and .NET from beginner to advanced</h3>
                    <p data-value="@Model.programdetails6">@Model.programdetails6"</p>
                </div>
            </div>

    <img class="author-image" src="~/images/course/Author.svg" />
        </div>
</section>
}
